:root {
  --html-bg-color: var(--white);
  --dashboard-bg-color: #F5F7FA;
  --dashboard-bg-color-light: var(--white);
}

.is-dark {
  --html-bg-color: var(--night-light-3);
  --dashboard-bg-color: var(--night);
  --dashboard-bg-color-light: var(--night);
}
