<nav
  class="menu-sidebar"
  x-data="initSidebarLeft()"
  x-init="$store.app.sidebarOpenedState = false"
  :class="{
        'is-sidebar-translated': $store.app.sidebarOpenedState,
        '': !$store.app.sidebarOpenedState,
        'is-menu-sidebar-translated-mobile': $store.app.isSidebarOpenedMobile,
    }"
>
  <div class="menu-sidebar-inner">
    <!-- Child menu header -->
    <ul>
      <li class="child-header">
        <h2 class="sidebar-title">Float UI</h2>
        <a
          href="javascript:void(0);"
          class="menu-toggle"
          @click="closeSidebar()"
        >
          <span
            class="icon-box-toggle is-navbar"
            :class="{
                'active': $store.app.sidebarOpenedState || $store.app.isSidebarOpenedMobile,
                '': !$store.app.sidebarOpenedState || !$store.app.isSidebarOpenedMobile,
            }"
          >
            <span class="rotate">
              <i class="icon-line-top"></i>
              <i class="icon-line-center"></i>
              <i class="icon-line-bottom"></i>
            </span>
          </span>
        </a>
      </li>
    </ul>

    <!--Sidebar Menu Panel-->
    {{> sidebar-menu-1}}

    <!--Sidebar Menu Panel-->
    {{> sidebar-menu-2}}

    <!--Sidebar Menu Panel-->
    {{> sidebar-menu-3}}

    <!--Sidebar Menu Panel-->
    {{> sidebar-menu-4}}
  </div>
</nav>
